body {
    font-family: sans-serif; 
    font-size:0.8em;
}

main{
    background-color: #ff8b1a;
}

#top{
    
    background-color: #000;
    color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #000;
    margin-left: 11%;
    width:80%;
}

section{
    background-color: #fff;
    margin-left:10px;
    margin-right:10px;
    padding:3px;
    border-radius: 10px;
    
}

article {
    border:2px solid black; 
    margin:4px; 
    padding:8px;
}

footer{
    
    background-color: #ff8b1a;
    color: white;
    padding: 10px;
}


h1 {
    text-align: center;
}

.title{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

#ingreso{
    text-align: center;
}


#violin {
    border: solid gray ;
    background-image: url("Violin.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100px 80px;
}

#piano {
    border: solid gray ;
    background-image: url("Piano.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100px 80px;
}

#bass {
    border: solid gray ;
    background-image: url("Bass.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100px 80px;
}

.title_box { 
    border: #3c5a86 3px solid;
    padding: 20px;
    margin: 0 auto;
    
}

.title_box #title {
    border: solid gray ;
    position: relative; 
    top : -0.5em;
    margin-left: 1em;
    display: inline; 
    background-color: #000000;
    opacity: 0.8;
    
    
}

.title_box #content {
    border: gray;
    top : 0.5em;
    margin-left: 6.5em;
    margin-right: 1.5em;
    display: inline; 
    background-color: gray;
    opacity: 0.8;
    padding: 10px;

}

.quantity_box { 
    border: #3c5a86 1px solid; 
}

.quantity_box #quantity{
    border: solid gray ;
    position: relative; 
    top : -1em;
    margin-left: 4.5em;
    margin-right: 7.5em;
    display: inline; 
    background-color: #000000;
    opacity: 0.8;
    padding: 10px;
}

#org, #org2, #org3, #tot {
    background-color: #e9f2f4;
    font-family: monospace;
    text-align:justify;
    color: black;
    
}


button {
    font-size: 80%;
    border: solid gray ;
    background-color: #333;
    opacity: 0.8;
    color: white;
}

.boxWrap{
    width: 800px;
    margin: 0 auto;
    
    
}
.box {
    text-align: center;
    float: left;
    width: 5%;
    height: 5px;
    padding: 60px;
    margin: 10px;
}

/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }