      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      
      <script type = "text/javascript" >
            $(document).ready(function() {
            $('select').material_select();
            });
      </script>     
    </body>
  </html>