

    
 

<form action="IdealW.php" method="POST">
    
    <label>Sexo</label>
    <select name="sexo">
      <option value="1">Masculino</option>
      <option value="2">Femenino</option>
    </select>
    <br />
    
    <label>Estatura en centimetros: </label>
    <input type="text" name="estatura" placeholder="165"/>
    <br />
    
    <input type="submit" name="submit" value="enviar"/>
</form>