<?php include_once("_header.html"); ?>

<div class="container">

<?php echo "Tu peso ideal segun la formula de Lorentz es $iw" ?>
</br>

<h5>Preguntas</h5>
    <p>¿Por qué es una buena práctica separar el controlador de la vista?</p>
        <p>Porque de este modo es posible tener una mejor administración de los archivos para poder tener bien organizados los documentos y trabajar
        de mejor manera sin problemas en cada uno por separado, ademas de poder identificar los errores de manera mas rapida.</p></br>
    <p>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</p>
        <p>Esta el $_SESSION que funciona como un arreglo de una sesion la cual guardara la informacion mientras esa sesion siga en uso y funcionando. 
        Esta el $_COOKIE que es parecido al session pero este se guarda en la computadora del usuario y se queda ahi hasta ser borrado a diferencia del session que
        solo dura un tiempo determinado.</p></br>
    <p>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</p>
        <p>La funcion implode() que une elementos de un arreglo con un string y explode() que divide un string en un arreglo de strings separados por otro.</p></br>



</div>

<?php include_once("_footer.html"); ?>