<?php include_once("_header.html"); ?>

<div class="container">

<?php if(isset($_SESSION["error"])): ?>
    <h3>Hay errores en la forma</h3>
    <?php unset($_SESSION["error"]); ?>
<?php endif; ?>

<?php if(isset($_SESSION["nombre"])): ?>
    <h1>Hola <?php echo  $_SESSION["nombre"] ?></h1>
    <?php include("_formIdealW.html"); ?>
<?php else: ?>
    <h1>Bienvenido</h1>
    <?php include("_form.html"); ?>
<?php endif; ?>

</div>

<?php include_once("_footer.html"); ?>