<?php include_once("_header.html");
echo "The file ". basename( $_FILES["fileToUpload"]["name"]). " has been uploaded.";?>

<div class="container">


</br>

<div class="row">
    <div class="col s8 push-s2">
      <div class="card">
        <div class="card-image">
          <img src="<?php echo "$target_file";?>">
          <span class="card-title">Tu imagen</span>
        </div>
        <div class="card-content teal">
          <p>Se ha subido tu imagen con exito.</p>
        </div>
      </div>
    </div>
</div>


<div class="row">
  <div class="col s12 5">
    <div class="card-panel teal">
      <span class="white-text">
        
        <h5>Preguntas</h5>
        <p>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</p>
            <p>Porque de este modo se pueden liberar los valores guardados en la variable session y se destruye la sesion que ya no es necesaria que este abierta, 
            ademas de evitar errores y mezclado de informacion entre diferentes sesiones y cuentas.</p></br>
        <p>¿Cuál es la diferencia entre una variable de sesión y una cookie?</p>
            <p>La variable sesion es temporal y se guarda en el servidor por un tiempo predefinido, mientras que las variables cookies se guardan en la computadora 
            del usuario.</p></br>
        <p>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto 
        con el mismo nombre?</p>
            <p>Lo que suelen hacer es agregar un token nuevo y unico para cada imagen que subes, haciendola unica y todas las demas tambien tienen un nombre 
            construido como unico.</p></br>

      </span>
    </div>
  </div>
</div>
            


</div>

<?php include_once("_footer.html"); ?>