
* {
   font-family: sans-serif; 
}

.standard-text{
    color: black;
    font-size: 1.5em;
}

.title{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.main{
    margin-right: 190px;
}

#top{
    
    background-color: #84C754;
    color: white;
    padding: 15px;
    border-radius: 4px;
    margin: 4px;
}

#quiz1{
    
    color: white;
    padding: 0px;
    
    margin: 5px;
}

h1 {
    text-align: center;
}

body {
    font-family: sans-serif; 
    font-size:0.8em;
}

aside{
    background-color: #0099cc;
    border-radius: 12px;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 150px;
    bottom: -100px;
    top: 110px;
    right: 0px;
    position: absolute;
}

article, nav {
    border:1px solid grey; 
    margin:5px; 
    padding:8px;
}

table {
   margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th, td {
    padding: 1px;
    width: 50px;
    border: 1px solid black;
}


/*nav ul {
    margin:0; padding:0;
}*/



